<a href="https://colab.research.google.com/github/dimitriribeiro/dimitriribeiro/blob/main/Filtrando_Tabelas_no_Drive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Contexto

Quando eu cheguei no Laboratório de Sistemas de Dispersos já estava terminando um curso de Python e estava louco para colocar meus conhecimentos em prática e tinha escutado sobre uma técnica de mineração de dados chamada Web Scrapping. Um dia, meu orientador pediu para que eu produzisse planlihas com os insumos escolhidos de outras planilhas que estavam disponíveis web em formato do Google Docs. Então resolvi me aventurar com um a Biblioteca Beautiful Soup. Eis, o código abaixo que resolveu o problema e gerou planilhas em excel.

# Bibliotecas Importadas

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Filtrando Semana 1

In [ ]:
#Importando o HTML para iniciar a raspagem a partir do link da tabela

url = requests.get('https://docs.google.com/spreadsheets/d/e/2PACX-1vTxsFzH6-kujfjj8a6SLWfd5XktxHzuKyHIGtW8V_IsdDmqZMf5KPHlhTKMfL3Z97HTK98y5kjyOgEj/pubhtml')
html = url.text
soup = BeautifulSoup(html, 'html.parser')

#Iniciando filtragem, pegando apenas as células da tabela que contenham texto pela TAG <td>

semana1 = []
for linha in soup.find_all('td'):
  if linha.text == '':
    pass
  else:
    semana1.append(linha.text)

#Separando conteúdo adqurido em duas categorias, código e denominação

codigos1 = []
denominacao1 = []
for elemento in semana1:
  if elemento.isnumeric():
    codigos1.append(elemento)
  else:
    denominacao1.append(elemento)

#OBS: Nessa tabela, tivemos que tirara celulas que ocupavam mais de um espaço em cada subtabela

dispensaveis = ['UTENSÍLIOS PLÁSTICOS E SIMILAR', 'UTENSÍLIOS DE AÇO E SIMILAR', 'PROTEÇÃO E SEGURANÇA','MATERIAL DE COZINHAR E PASSAR', 'LOUÇAS E ARTIGOS DE MESA']
#Então, retiramos elas com um for

for inviavel in denominacao1:
  if inviavel in dispensaveis:
    denominacao1.remove(inviavel)
#Agora, retirar elementos das nossas categorias que não representam valor para o que queremos

denominacao1 = denominacao1[40:]
codigos1 = codigos1[17:]

#Formando DataFrame a partir de um dicionário. Recomendo.
semana1_data = {'CÓDIGOS':codigos1,'DENOMINAÇÃO':denominacao1}

dataset_semana1 = pd.DataFrame(semana1_data)

#Obs: Foi solicitado que adicionasse mais uma coluna no nossa DataFrame

dataset_semana1['GRUPOS'] = pd.Series()

#Utilizamos os nomes das seções da tabela original para categorizar por código
#Obs: As listas nome e código estão em ordem e tem mesmo tamanho, se a ordem for alterada, a tabela não será produzida.


nomes = ['MATERIAL QUIMICO', 'MATERIAL BIOLÓGICO','GENEROS DE ALIMENTACAO','MATERIAL DE CAMA, MESA E BANHO','MATERIAL DE COPA E COZINHA', 'MATERIAL DE ACONDICIONAMENTO E EMBALAGEM', 'MATERIAL DE COUDELARIA OU DE USO ZOOTÉCNICO', 'MATERIAL DE PROCESSAMENTO DE DADOS']
codigo = ['3011','3040','3007','3020','3021','3019','3012','3017']
for i, cod in enumerate(dataset_semana1['CÓDIGOS']):
  if codigo[0] in cod:
    dataset_semana1['GRUPOS'][i] = nomes[0]
  elif codigo[1] in cod:
    dataset_semana1['GRUPOS'][i] = nomes[1]
  elif codigo[2] in cod:
    dataset_semana1['GRUPOS'][i] = nomes[2]
  elif codigo[3] in cod:
    dataset_semana1['GRUPOS'][i] = nomes[3]
  elif codigo[4] in cod:
    dataset_semana1['GRUPOS'][i] = nomes[4]
  elif codigo[5] in cod:
    dataset_semana1['GRUPOS'][i] = nomes[5]
  elif codigo[6] in cod:
    dataset_semana1['GRUPOS'][i] = nomes[6]
  else:
    dataset_semana1['GRUPOS'][i] = nomes[7]

#Filtração para aquisição de tabela editável

indices_semana1 = []
for i, codigo in enumerate(dataset_semana1['CÓDIGOS']):
  if '3017' in codigo or '3019' in codigo or '3040' in codigo or '3011' in codigo:
    indices_semana1.append(i)
dataset_semana1 = dataset_semana1.iloc[indices_semana1]
dataset_semana1 = dataset_semana1.sort_values(by='GRUPOS')
#Exportando para Excel Tabela Filtrada e Categorizada
dataset_semana1.to_excel('Semana 1_Produtos_ATUALIZADO.xlsx')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:46: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

# Filtrando Semana 2

In [ ]:
#Importando o HTML para iniciar a raspagem a partir do link da tabela

url = requests.get('https://docs.google.com/spreadsheets/d/e/2PACX-1vSYWklpJ5DugLFFjUBT63PDyN_vWxMJd5GBa4BY9Dx2HyPlrxV0iLe4lIRtMXX3k5RnWWLJOUFVTJKH/pubhtml')
html = url.text
soup = BeautifulSoup(html, 'html.parser')

#Iniciando filtragem, pegando apenas as células da tabela que contenham texto pela TAG <td>

semana2 = []
for linha in soup.find_all('td'):
  if linha.text == '':
    pass
  else:
    semana2.append(linha.text)

#Separando conteúdo adqurido em duas categorias, código e denominação
codigos2 = []
denominacao2 = []
for elemento in semana2:
  if elemento.isnumeric():
    codigos2.append(elemento)
  else:
    denominacao2.append(elemento)

#Agora, retirar elementos das nossas categorias que não representam valor para o que queremos

denominacao2 = denominacao2[44:]
codigos2 = codigos2[19:]

#Formando DataFrame a partir de um dicionário. Recomendo.

semana2_data = {'CÓDIGOS':codigos2,'DENOMINAÇÃO':denominacao2}

dataset_semana2 = pd.DataFrame(semana2_data)

#Adicionando coluna de Grupos como na primeir filtragem
#Obs: As listas nome e código estão em ordem e tem mesmo tamanho, se a ordem for alterada, a tabela não será produzida.

dataset_semana2['GRUPOS'] = pd.Series()

nomes = ['MATERIAL FARMACOLOGICO','MATERIAL ODONTOLOGICO','MATERIAL EDUCATIVO E ESPORTIVO','TECIDOS E AVIAMENTOS','SEMENTES, MUDAS DE PLANTAS E INSUMOS','AQUISIÇÃO DE SOFTWARE','GLP','MATERIAL DE PROTECAO E SEGURANCA', 'MÁQUINAS E EQUIPAMENTOS ENERGETICOS']
codigo = ['3009','3010','3014','3023','3031','4005','3004','3028','5230']
for i, cod in enumerate(dataset_semana2['CÓDIGOS']):
  if codigo[0] in cod:
    dataset_semana2['GRUPOS'][i] = nomes[0]
  elif codigo[1] in cod:
    dataset_semana2['GRUPOS'][i] = nomes[1]
  elif codigo[2] in cod:
    dataset_semana2['GRUPOS'][i] = nomes[2]
  elif codigo[3] in cod:
    dataset_semana2['GRUPOS'][i] = nomes[3]
  elif codigo[4] in cod:
    dataset_semana2['GRUPOS'][i] = nomes[4]
  elif codigo[5] in cod:
    dataset_semana2['GRUPOS'][i] = nomes[5]
  elif codigo[6] in cod:
    dataset_semana2['GRUPOS'][i] = nomes[6]
  elif codigo[7] in cod:
    dataset_semana2['GRUPOS'][i] = nomes[7]
  else:
    dataset_semana2['GRUPOS'][i] = nomes[8]

#Filtração para aquisição de tabela editável

indices_semana2 = []
for i, codigo in enumerate(dataset_semana2['CÓDIGOS']):
  if '3009' in codigo or '4005' in codigo or '3028' in codigo or '5230' in codigo:
    indices_semana2.append(i)
dataset_semana2 = dataset_semana2.iloc[indices_semana2]

#Ordenando tabela por Grupos

dataset_semana2 = dataset_semana2.sort_values(by='GRUPOS')

#Exportando para Excel Tabela Filtrada e Categorizada

dataset_semana2.to_excel('Semana 2_Produtos_ATUALIZADO.xlsx')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:39: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
dataset_semana2

,CÓDIGOS,DENOMINAÇÃO,GRUPOS
224,4005000000020,LICENÇA DE USO DE 12 MESES DO SOFTWARE NVIVO\t,AQUISIÇÃO DE SOFTWARE
479,4005000000030,SOFTWARE RHINOCEROS 6.0.\t,AQUISIÇÃO DE SOFTWARE
301,4005000000049,LOGIC PRO X (APPLE).\t,AQUISIÇÃO DE SOFTWARE
75,4005000000006,AQUISIÇÃO DE LICENÇA DO PROGRAMA ACADÊMICO BEN...,AQUISIÇÃO DE SOFTWARE
364,4005000000052,SIGNAL PROCESSING TOOLBOX (MATLAB).\t,AQUISIÇÃO DE SOFTWARE
...,...,...,...
81,3023000000207,TECIDO TESTEMUNHA PARA TESTE FRICÇÃO,TECIDOS E AVIAMENTOS
73,3023000000206,TECIDO MULTIFIBRA ISO DW 010,TECIDOS E AVIAMENTOS
57,3023000000122,TECIDO CHITA,TECIDOS E AVIAMENTOS
21,3023000000208,FECHO DE CONTATO (VELCRO) 20MM,TECIDOS E AVIAMENTOS
12,3023000000175,AGULHÃO.,TECIDOS E AVIAMENTOS

# Filtrando Semana 3

In [ ]:
#Importando o HTML para iniciar a raspagem a partir do link da tabela

url = requests.get('https://docs.google.com/spreadsheets/d/e/2PACX-1vSpo1f85Pxr3xqKQOzScEVT4E_jbxlvvFX23qPfPJaikXfnhsBVRsskDrQUPmTF-oNG1pgmqB4acKXK/pubhtml')
html = url.text
soup = BeautifulSoup(html, 'html.parser')

#Iniciando filtragem, pegando apenas as células da tabela que contenham texto pela TAG <td>

semana3 = []
for linha in soup.find_all('td'):
  if linha.text == '':
    pass
  else:
    semana3.append(linha.text)

#Separando conteúdo adqurido em duas categorias, código e denominação

codigos3 = []
denominacao3 = []
for elemento in semana3:
  if elemento.isnumeric():
    codigos3.append(elemento)
  else:
    denominacao3.append(elemento)

#Agora, retirar elementos das nossas categorias que não representam valor para o que queremos

denominacao3 = denominacao3[40:]
codigos3 = codigos3[17:]

#Formando DataFrame a partir de um dicionário. Recomendo.

semana3_data = {'CÓDIGOS':codigos3,'DENOMINAÇÃO':denominacao3}

dataset_semana3 = pd.DataFrame(semana3_data)

dataset_semana3['GRUPOS'] = pd.Series()

#Adicionando coluna de Grupos como na primeir filtragem
#Obs: As listas nome e código estão em ordem e tem mesmo tamanho, se a ordem for alterada, a tabela não será produzida.

nomes = ['AR CONDICIONADO','MATERIAL LABORATORIAL','CONFECCAO DE UNIFORMES','ELETRODOMÉSTICOS', 'MATERIAL HOSPITALAR', 'EQUIPAMENTO DE PROTECAO SEGURANCA E SOCORRO', 'MATERIAL PARA ÁUDIO, VÍDEO E FOTO', 'ALIMENTOS PARA ANIMAIS']
codigo = ['5212','3035','3970','5212','3036','5224','3029']
for i, cod in enumerate(dataset_semana3['CÓDIGOS']):
  if codigo[0] in cod:
    dataset_semana3['GRUPOS'][i] = nomes[0]
  elif codigo[1] in cod:
    dataset_semana3['GRUPOS'][i] = nomes[1]
  elif codigo[2] in cod:
    dataset_semana3['GRUPOS'][i] = nomes[2]
  elif codigo[3] in cod:
    dataset_semana3['GRUPOS'][i] = nomes[3]
  elif codigo[4] in cod:
    dataset_semana3['GRUPOS'][i] = nomes[4]
  elif codigo[5] in cod:
    dataset_semana3['GRUPOS'][i] = nomes[5]
  else:
    dataset_semana3['GRUPOS'][i] = nomes[6]

#Filtração para aquisição de tabela editável

indices_semana3 = []
for i, codigo in enumerate(dataset_semana3['CÓDIGOS']):
  if '5212' in codigo or '3035' in codigo or '5224' in codigo:
    indices_semana3.append(i)
dataset_semana3 = dataset_semana3.iloc[indices_semana3]

#Ordenando tabela por Grupos

dataset_semana3 = dataset_semana3.sort_values(by='GRUPOS')

#Exportando para Excel Tabela Filtrada e Categorizada

dataset_semana3.to_excel('Semana 3_Produtos_ATUALIZADO.xlsx')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:37: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
dataset_semana3

# Filtrando Semana 4

In [ ]:
#Importando o HTML para iniciar a raspagem a partir do link da tabela

url = requests.get('https://docs.google.com/spreadsheets/d/e/2PACX-1vTr3BjimGsngcCS3T7MoSNcwtqb6qev6ac6643d2NyXSN3IqZfpc7o5lOb6a2bFuawLBph9CSsK804F/pubhtml')
html = url.text
soup = BeautifulSoup(html, 'html.parser')

#Iniciando filtragem, pegando apenas as células da tabela que contenham texto pela TAG <td>

semana4 = []
for linha in soup.find_all('td'):
  if linha.text == '':
    pass
  else:
    semana4.append(linha.text)

#Separando conteúdo adqurido em duas categorias, código e denominação

codigos4 = []
denominacao4 = []
for elemento in semana4:
  if elemento.isnumeric():
    codigos4.append(elemento)
  else:
    denominacao4.append(elemento)

#Agora, retirar elementos das nossas categorias que não representam valor para o que queremos

denominacao4 = denominacao4[44:]
codigos4 = codigos4[19:]

#Formando DataFrame a partir de um dicionário. Recomendo.

semana4_data = {'CÓDIGOS':codigos4,'DENOMINAÇÃO':denominacao4}

dataset_semana4 = pd.DataFrame(semana4_data)

#Adicionando coluna de Grupos como na primeir filtragem
#Obs: As listas nome e código estão em ordem e tem mesmo tamanho, se a ordem for alterada, a tabela não será produzida.

dataset_semana4['GRUPOS'] = pd.Series()

nomes = ['APARELHOS DE MEDICAO E ORIENTACAO','APARELHOS, EQUIP. E UTENS. MED., ODONT., LABOR. E HOSP.','BANDEIRAS, FLAMULAS E INSIGNIAS','INSTRUMENTOS MUSICAIS E ARTÍSTICOS','MATERIAL PARA AROMATERAPIA','EQUIPAMENTOS PARA ÁUDIO, VÍDEO E FOTO','MATERIAIS E MEDICAMENTOS PARA USO VETERINÁRIO','MÁQUINAS E EQUIPAM. DE NATUREZA INDUSTRIAL','MÁQUINAS, FERRAMENTAS E UTENSÍLIOS DE OFICINA']
codigo = ['5204','5208','5216','5226','3099','5233','3018','5228','5238']
for i, cod in enumerate(dataset_semana4['CÓDIGOS']):
  if codigo[0] in cod:
    dataset_semana4['GRUPOS'][i] = nomes[0]
  elif codigo[1] in cod:
    dataset_semana4['GRUPOS'][i] = nomes[1]
  elif codigo[2] in cod:
    dataset_semana4['GRUPOS'][i] = nomes[2]
  elif codigo[3] in cod:
    dataset_semana4['GRUPOS'][i] = nomes[3]
  elif codigo[4] in cod:
    dataset_semana4['GRUPOS'][i] = nomes[4]
  elif codigo[5] in cod:
    dataset_semana4['GRUPOS'][i] = nomes[5]
  elif codigo[6] in cod:
    dataset_semana4['GRUPOS'][i] = nomes[6]
  elif codigo[7] in cod:
    dataset_semana4['GRUPOS'][i] = nomes[7]
  else:
    dataset_semana4['GRUPOS'][i] = nomes[8]

#Filtração para aquisição de tabela editável

indices_semana4 = []
for i, codigo in enumerate(dataset_semana4['CÓDIGOS']):
  if '5204' in codigo or '5208' in codigo or '3099' in codigo or '5233' in codigo:
    indices_semana4.append(i)
dataset_semana4 = dataset_semana4.iloc[indices_semana4]

#Ordenando tabela por Grupos

dataset_semana4 = dataset_semana4.sort_values(by='GRUPOS')

#Exportando para Excel Tabela Filtrada e Categorizada

dataset_semana4.to_excel('Semana 4_Produtos_ATUALIZADO.xlsx')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
dataset_semana4

,CÓDIGOS,DENOMINAÇÃO,GRUPOS
0,5204000000320,ALICATE AMPERÍMETRO RMS VERDADEIRO,APARELHOS DE MEDICAO E ORIENTACAO
1,5208000000812,6 VERTEBRAS MONTADAS,"APARELHOS, EQUIP. E UTENS. MED., ODONT., LABOR..."
2,5216000000002,KIT BASE MÓVEL DE MADEIRA PARA 5 MASTROS + 5 M...,"BANDEIRAS, FLAMULAS E INSIGNIAS"
3,5226001000119,CONJUNTO FERRAGENS PARA BATERIA,INSTRUMENTOS MUSICAIS E ARTÍSTICOS
4,3099001000037,ÓLEO DE JOJOBA 100ML.,MATERIAL PARA AROMATERAPIA
...,...,...,...
915,5208000001827,SIMULADOR BEBÊ NEONATAL,"APARELHOS, EQUIP. E UTENS. MED., ODONT., LABOR..."
916,5208000001828,SIMULADOR DE INJEÇÃO PARENTERAL,"APARELHOS, EQUIP. E UTENS. MED., ODONT., LABOR..."
917,5208000001826,SIMULADOR DE MATERNIDADE AVANÇADO,"APARELHOS, EQUIP. E UTENS. MED., ODONT., LABOR..."
918,5208000001874,TERMO-HIGROMETRO,"APARELHOS, EQUIP. E UTENS. MED., ODONT., LABOR..."
919,5208000001889,TERMÔMETRO DIGITAL DE TESTA POR INFRAVERMELHO,"APARELHOS, EQUIP. E UTENS. MED., ODONT., LABOR..."

# Filtrando Semana 5

In [ ]:
url = requests.get('https://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vQSbb6Rcl6riNooevKuNkbGlzboRBIEYMKF9mFF_0vhHgFFsz6sxO_Z9kfta5Dt1VtSD7e3bHI3gZwB/pubhtml')
html = url.text
soup = BeautifulSoup(html, 'html.parser')

semana5 = []
for linha in soup.find_all('td'):
  if linha.text == '':
    pass
  else:
    semana5.append(linha.text)
codigos = []
denominacao = []
for elemento in semana5:
  if elemento.isnumeric():
    codigos.append(elemento)
  else:
    denominacao.append(elemento)

denominacao = denominacao[44:]
codigos = codigos[19:]

semana5_data = {'CÓDIGOS':codigos,'DENOMINAÇÃO':denominacao}

dataset_semana5 = pd.DataFrame(semana5_data)

#Adicionando coluna de Grupos como na primeir filtragem
#Obs: As listas nome e código estão em ordem e tem mesmo tamanho, se a ordem for alterada, a tabela não será produzida.

dataset_semana5['GRUPOS'] = pd.Series()

nomes = [
'APARELHOS E EQUIP. PARA ESPORTES E DIVERSOES',
'MOBILIÁRIO EM GERAL',
'EQUIPAMENTO DE PADARIA',
'REFRIGERADOR, FREEZER E BEBEDOUROS',
'EQUIPAMENTO DE RESTAURANTE',
'EQUIPAMENTOS DE PROCESSAMENTOS DE DADOS',
'MAQ. EQUIP. UTENSÍLIOS AGRIC./AGROP. E RODOVIÁRIOS',
'GASES LAB/MEDICINAIS',
'VEÍCULOS DIVERSOS']
codigo = ['5210','5242','5234','5234','5212','5235','5240','3004','5248']
for i, cod in enumerate(dataset_semana5['CÓDIGOS']):
  if codigo[0] in cod:
    dataset_semana5['GRUPOS'][i] = nomes[0]
  elif codigo[1] in cod:
    dataset_semana5['GRUPOS'][i] = nomes[1]
  elif codigo[2] in cod:
    dataset_semana5['GRUPOS'][i] = nomes[2]
  elif codigo[3] in cod:
    dataset_semana5['GRUPOS'][i] = nomes[3]
  elif codigo[4] in cod:
    dataset_semana5['GRUPOS'][i] = nomes[4]
  elif codigo[5] in cod:
    dataset_semana5['GRUPOS'][i] = nomes[5]
  elif codigo[6] in cod:
    dataset_semana5['GRUPOS'][i] = nomes[6]
  elif codigo[7] in cod:
    dataset_semana5['GRUPOS'][i] = nomes[7]
  else:
    dataset_semana5['GRUPOS'][i] = nomes[8]

#Filtração para aquisição de tabela editável

indices_semana5 = []
for i, codigo in enumerate(dataset_semana5['CÓDIGOS']):
  if '3004' in codigo or '5235' in codigo:
    indices_semana5.append(i)
dataset_semana5 = dataset_semana5.iloc[indices_semana5]

#Ordenando tabela por Grupos

dataset_semana5 = dataset_semana5.sort_values(by='GRUPOS')

#Exportando para Excel Tabela Filtrada e Categorizada

dataset_semana5.to_excel('Semana 5_Produtos_ATUALIZADO.xlsx')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
dataset_semana5

,CÓDIGOS,DENOMINAÇÃO,GRUPOS
0,5210000000100,ADUTOR ABDUTOR TRADICIONAL,APARELHOS E EQUIP. PARA ESPORTES E DIVERSOES
269,5210000000013,CAMA ELÁSTICA/TRAMPOLIM PARA FISIOTERAPIA,APARELHOS E EQUIP. PARA ESPORTES E DIVERSOES
272,5210000000204,CANAL DE RETORNO DE PESOS,APARELHOS E EQUIP. PARA ESPORTES E DIVERSOES
275,5210000000207,CARRETEL PARA ARMAZENAGEM DA FITA DE MARCAÇÃO ...,APARELHOS E EQUIP. PARA ESPORTES E DIVERSOES
278,5210000000187,CARRO FEITO EM AÇO PARA TRANSPORTE DE BLOCOS D...,APARELHOS E EQUIP. PARA ESPORTES E DIVERSOES
...,...,...,...
44,5248000000028,CARRINHO PARA TRANSPORTE DE LIVROS (BIBLIOTECAS),VEÍCULOS DIVERSOS
17,5248000000014,CARRINHO DE TRANSPORTE PARA 4 GARRAFÕES D'ÁGUA...,VEÍCULOS DIVERSOS
26,5248000000013,CARRINHO PARA TRANSPORTE DE BOTIJÕES DE GÁS 3 ...,VEÍCULOS DIVERSOS
8,5248000000020,CARRINHO COLETOR DE LIXO COM TAMPA 120 LITROS,VEÍCULOS DIVERSOS
180,3014000000521,BARALHO EM BRAILLE,VEÍCULOS DIVERSOS

# Filtrando Semana 6

In [ ]:
url = requests.get('https://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vTQ7URYZ3nN10O0Ly_nrWojUc727j2SvTIM6YV96WJfinqDPxfEBYh5zNkJHNjfxjiiGv-a3yjwprre/pubhtml')
html = url.text
soup = BeautifulSoup(html, 'html.parser')

semana6 = []
for linha in soup.find_all('td'):
  if linha.text == '':
    pass
  else:
    semana6.append(linha.text)
codigos6 = []
denominacao6 = []
for elemento in semana6:
  if elemento.isnumeric():
    codigos6.append(elemento)
  else:
    denominacao6.append(elemento)

denominacao6 = denominacao6[20:]
codigos6 = codigos6[7:]
semana6_data = {'CÓDIGOS':codigos6,'DENOMINAÇÃO':denominacao6}

dataset_semana6 = pd.DataFrame(semana6_data)

dataset_semana6['GRUPOS'] = pd.Series()

nomes = ['EQUIPAMENTOS HIDRAULICOS E ELETRICO','EQUIPAMENTOS DIVERSOS', 'SERVIÇOS GRÁFICOS']
codigo = ['5239', '5234','3963']
for i, cod in enumerate(dataset_semana6['CÓDIGOS']):
  if codigo[0] in cod:
    dataset_semana6['GRUPOS'][i] = nomes[0]
  elif codigo[1] in cod:
    dataset_semana6['GRUPOS'][i] = nomes[1]
  else:
    dataset_semana6['GRUPOS'][i] = nomes[2]

#Filtração para aquisição de tabela editável

#indices_semana6 = []
#for i, codigo in enumerate(dataset_semana6['CÓDIGOS']):
  #if '5239' in codigo or '3963' in codigo:
    #indices_semana6.append(i)
#dataset_semana6 = dataset_semana6.iloc[indices_semana6]

#Ordenando tabela por Grupos

dataset_semana6 = dataset_semana6.sort_values(by='GRUPOS')

#Exportando para Excel Tabela Filtrada e Categorizada

#dataset_semana6.to_excel('Semana 6_Produtos_ATUALIZADO.xlsx')

In [ ]:
dataset_semana6

# Importando para Excel

In [ ]:
lista_crua_produtos_quimicos = '''. 001 1-FENIL-2-PROPANONA
. 002 3 , 4 - M E T I L E N O D I OX I F E N I L - 2 - P R O P A N O N A
. 003 4-ANILINO-N-PHENETHYLPIPERIDINE - ANPP
. 004 ÁCIDO ANTRANÍLICO
. 005 ÁCIDO FENILACÉTICO
. 006 ÁCIDO LISÉRGICO
. 007 ÁCIDO N-ACETILANTRANÍLICO
. 008 ANIDRIDO ANTRANÍLICO
. 009 ANIDRIDO PROPIÔNICO
. 010 EFEDRINA
. 011 ERGOMETRINA
. 012 E R G OT A M I N A
. 013 ETAEFEDRINA
. 014 GAMA-BUTIROLAC TONA
. 015 ISOSAFROL
. 016 METILERGOMETRINA
. 017 N-METILEFEDRINA
. 018 N-METILPSEUDOEFEDRINA
. 019 N-PHENETHYL-4-PIPERIDINONE - NPP
. 020 ÓLEO DE SASSAFRÁS, OUTROS ÓLEOS ESSENCIAIS SIMILARES OU
PREPARAÇÕES CONTENDO SAFROL E/OU PIPERONAL
. 021 PIPERIDINA
. 022 PIPERONAL
. 023 PSEUDOEFEDRINA
. 024 SAFROL
. 025 1 , 2 - D I C LO R O E T A N O
. 026 ACETATO DE ETILA
. 027 AC E T O N A
. 028 CLORETO DE ETILA
. 029 CLORETO DE METILENO
. 030 C LO R O FÓ R M I O
. 031 ÉTER ETÍLICO
. 032 M E T I L E T I LC E T O N A
. 033 TETRAHIDROFURANO
. 034 T O LU E N O
. 035 AMINOPIRINA
. 036 BENZOCAÍNA
. 037 CAFEÍNA
. 038 D I LT I A Z E M
. 039 DIPIRONA
. 040 F E N AC E T I N A
. 041 H I D R OX I Z I N A
. 042 LEVAMISOL
. 043 LIDOCAÍNA
. 044 MANITOL
. 045 P A R AC E T A M O L
. 046 PROCAÍNA
. 047 T EO F I L I N A
. 048 T E T R AC A Í N A
. 049 TETRAMISOL
. 050 ÁCIDO ACÉTICO
. 051 ÁCIDO BENZÓICO
. 052 ÁCIDO BÓRICO
. 053 ÁCIDO BROMÍDRICO
. 054 ÁCIDO CLORÍDRICO
. 055 ÁCIDO CLOROSULFÔNICO
. 056 ÁCIDO FÓRMICO
. 057 ÁCIDO HIPOFOSFOROSO
. 058 ÁCIDO IODÍDRICO
. 059 ÁCIDO SULFÚRICO
. 060 BICARBONATO DE POTÁSSIO
. 061 CARBONATO DE POTÁSSIO
. 062 FORMIATO DE AMÔNIO
. 063 HIDRÓXIDO DE AMÔNIO
. 064 HIDRÓXIDO DE POTÁSSIO
. 065 ANIDRIDO ACÉTICO
. 066 BOROHIDRETO DE SÓDIO
. 067 BROMOBENZENO
. 068 BUTILAMINA
. 069 CIANOBOROHIDRETO DE SÓDIO
. 070 CLORETO DE AMÔNIO
. 071 CLORETO DE MERCÚRIO II
. 072 CROMATO DE POTÁSSIO
. 073 DICROMATO DE POTÁSSIO
. 074 DICROMATO DE SÓDIO
. 075 DIETILAMINA
. 076 ETILAMINA
. 077 FENILETANOLAMINA
. 078 FO R M A M I DA
. 079 FÓSFORO VERMELHO
. 080 HIDRETO DE LÍTIO E ALUMÍNIO
. 081 H I D R OX I L A M I N A
. 082 IODO
. 083 METILAMINA
. 084 NITROETANO
. 085 N - M E T I L FO R M A M I DA
. 086 PENTACLORETO DE FÓSFORO
. 087 PERMANGANATO DE POTÁSSIO
. 088 ACETATO DE ISOAMILA
. 089 ACETATO DE ISOBUTILA
. 090 ACETATO DE ISOPROPILA
. 091 ACETATO DE n-BUTILA
. 092 ACETATO DE n-PROPILA
. 093 ACETATO DE sec-BUTILA
. 094 ÁCIDO ORTO-FOSFÓRICO
. 095 AGUARRÁS MINERAL e qualquer outro produto similar, à base de mistura de
hidrocarbonetos alifáticos
. 096 ÁLCOOL ETÍLICO
. 097 ÁLCOOL ISOBUTÍLICO
. 098 ÁLCOOL ISOPROPÍLICO
. 099 ÁLCOOL METÍLICO
. 100 ÁLCOOL n-BUTÍLICO
. 101 ÁLCOOL n-PROPÍLICO
. 102 ÁLCOOL sec-BUTÍLICO
. 103 AMÔNIA
. 104 BENZALDEIDO
. 105 BENZENO
. 106 BICARBONATO DE SÓDIO
. 107 CARBONATO DE CÁLCIO
. 108 CARBONATO DE SÓDIO
. 109 CARVÃO ATIVADO
. 110 CIANETO DE BENZILA
. 111 CIANETO DE BROMOBENZILA
. 112 CICLOEXANO
. 113 CICLOEXANONA
. 114 CIMENTO PORTLAND ou do tipo PORTLAND
. 115 CLORETO DE ACETILA
. 116 CLORETO DE ALUMÍNIO
. 117 CLORETO DE BENZILA
. 118 CLORETO DE CÁLCIO (anidro)
. 119 DIACETONA ÁLCOOL
. 120 DIÓXIDO DE MANGANÊS
. 121 ÉTER DE PETRÓLEO
. 122 GASOLINA
. 123 HIDRÓXIDO DE CÁLCIO
. 124 HIDRÓXIDO DE SÓDIO
. 125 HIPOCLORITO DE SÓDIO
. 126 METABISSULFITO DE SÓDIO
. 127 M E T I L I S O B U T I LC E T O N A
. 128 n-HEPTANO
. 129 n-HEXANO
. 130 ÓLEO DIESEL
. 131 ÓXIDO DE CÁLCIO
. 132 ÓXIDO DE MANGANÊS
. 133 PERÓXIDO DE HIDROGÊNIO
. 134 PIRIDINA
. 135 PROPIOFENONA
. 136 QUEROSENE
. 137 SULFATO DE SÓDIO (anidro)
. 138 T E T R AC LO R O E T I L E N O
. 139 T R I C LO R O E T I L E N O
. 140 URÉIA
. 141 XILENOS (isômeros orto, meta, para e misturas).'''

In [ ]:
lista_crua_produtos_quimicos = lista_crua_produtos_quimicos.split('.')

In [ ]:
lista_produtos_quimicos_data = {'CÓDIGOS':[], 'PRODUTOS QUÍMICOS':[]}
for produto in lista_crua_produtos_quimicos:
  if produto == '':
    pass
  else:
    produto.strip('\n')
    lista_produtos_quimicos_data['CÓDIGOS'].append(produto[1:4])
    lista_produtos_quimicos_data['PRODUTOS QUÍMICOS'].append(produto[4:])

print(len(lista_produtos_quimicos_data['CÓDIGOS']))
print(len(lista_produtos_quimicos_data['PRODUTOS QUÍMICOS']))

141
141

In [ ]:
df_produtos_quimicos = pd.DataFrame(lista_produtos_quimicos_data)
df_produtos_quimicos['ALUNO'] = ['Adicionar Nome'] * 141
df_produtos_quimicos['QUANTIDADE'] = ['Adicionar Quantidade'] * 141
df_produtos_quimicos['JUSTIFICATIVA'] = ['Adicionar Justificativa'] * 141

In [ ]:
df_produtos_quimicos.to_excel('REAGENTES DE CONTROLE DA PF_EDITÁVEL.xlsx', index=None)